---
import { Icon } from 'astro-icon';
const items = [
	{
		title: 'Avail',
		description:
			'testnet',
		icon: 'avail',
		Link: 'https://service.sychonix.com/testnet/avail',
  },
{
		title: 'Airchains',
		description:
			'testnet',
		icon: 'airchains',
		Link: 'https://service.sychonix.com/testnet/airchains',
  },
{
		title: 'Artela',
		description:
			'testnet',
		icon: 'artela',
		Link: 'https://service.sychonix.com/testnet/artela',
  },
	{
		title: 'Archway',
		description:
			'testnet',
		icon: 'archway',
		Link: 'https://service.sychonix.com/testnet/archway',
	},
{
		title: 'Andromeda',
		description:
			'testnet',
		icon: 'andromeda',
		Link: 'https://service.sychonix.com/testnet/andromeda',
	},
{
		title: 'Bonus Block',
		description:
			'testnet',
		icon: 'bonus',
		Link: 'https://service.sychonix.com/testnet/bonus-block',
	},
	{
		title: 'Blockxnet',
		description:
			'testnet',
		icon: 'blockx',
		Link: 'https://service.sychonix.com/testnet/blockxnet',
	},
  {
		title: 'Chainflip',
		description:
			'testnet',
		icon: 'chainflip',
		Link: 'https://service.sychonix.com/testnet/chainflip/installation',
	},
{
		title: 'Crossfi',
		description:
			'testnet',
		icon: 'crossfi',
		Link: 'https://service.sychonix.com/testnet/crossfi',
  },
{
		title: 'Composable',
		description:
			'testnet',
		icon: 'composable',
		Link: 'https://service.sychonix.com/testnet/composable',
	},
{
		title: 'Cascadia',
		description:
			'testnet',
		icon: 'cascadia',
		Link: 'https://service.sychonix.com/testnet/cascadia',
	},
	{
		title: 'Dill',
		description:
			'testnet',
		icon: 'dill',
		Link: 'https://service.sychonix.com/testnet/dill',
	},
{
		title: 'Dymension',
		description:
			'testnet',
		icon: 'dymension',
		Link: 'https://service.sychonix.com/testnet/dymension',
	},
{
		title: 'Entangle',
		description:
			'testnet',
		icon: 'entangle',
		Link: 'https://service.sychonix.com/testnet/entangle',
	},
{
		title: 'Empower',
		description:
			'testnet',
		icon: 'empower',
		Link: 'https://service.sychonix.com/testnet/empower',
	},
{
		title: 'Elys',
		description:
			'testnet',
		icon: 'elys',
		Link: 'https://service.sychonix.com/testnet/elys',
	},
  {
		title: 'Elixir',
		description:
			'testnet',
		icon: 'elixir',
		Link: 'https://service.sychonix.com/testnet/elixir/installation',
	},
{
		title: 'Initia',
		description:
			'testnet',
		icon: 'initia',
		Link: 'https://service.sychonix.com/testnet/initia',
	},
{
		title: 'Impact Protocol',
		description:
			'testnet',
		icon: 'impact',
		Link: 'https://service.sychonix.com/testnet/impact/installation',
	},
	{
		title: 'Nibiru',
		description:
			'testnet',
		icon: 'nibiru',
		Link: 'https://service.sychonix.com/testnet/nibiru',
  },
{
		title: 'Ojo',
		description:
			'testnet',
		icon: 'ojo',
		Link: 'https://service.sychonix.com/testnet/ojo',
	},
	{
		title: 'Pryzm',
		description:
			'testnet',
		icon: 'pryzm',
		Link: 'https://service.sychonix.com/testnet/pryzm/installation',
  },
	{
		title: 'Tangle',
		description:
			'testnet',
		icon: 'tangle',
		Link: 'https://service.sychonix.com/testnet/tangle',
	},
{
		title: 'Tanssi',
		description:
			'testnet',
		icon: 'tanssi',
		Link: 'https://service.sychonix.com/testnet/tanssi',
  },
{
		title: 'Side Protocol',
		description:
			'testnet',
		icon: 'side',
		Link: 'https://service.sychonix.com/testnet/side',
	},
{
		title: 'Selfchain',
		description:
			'testnet',
		icon: 'selfchain',
		Link: 'https://service.sychonix.com/testnet/selfchain',
	},
  {
		title: 'Warden Protocol',
		description:
			'testnet',
		icon: 'warden',
		Link: 'https://service.sychonix.com/testnet/warden',
  },
  {
		title: 'Wormholes',
		description:
			'testnet',
		icon: 'wormholes',
		Link: 'https://service.sychonix.com/testnet/wormholes/installation',
  },
];
---

<section class="scroll-mt-16" id="features2">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
	  <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
		<div class="mb-8 text-center">
		  <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
			Testnet
		  </h2>
		  <p class="max-w-3xl mx-auto text-center text-xl text-gray-400 dark:text-slate-400">
			Sychonix Supports Testnets and Providing Services
		  </p>
		</div>
		<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-center my-12 dark:text-white">
		  {
			items.map(({ title, icon, Link }) => (
			  <div class="card relative flex flex-col p-6 bg-gray dark:bg-slate-900 rounded-lg shadow-xl hover:shadow-lg transition border border-red-500 text-center">
				<a href={Link}>
				  <div class="icon-container w-20 h-20 mx-auto my-4 rounded-full overflow-hidden">
					<Icon name={icon} class="w-full h-full object-cover" />
				  </div>
				</a>
				<p class="pill-button text-#9CA3AF dark:text-black text-md font-semibold mt-4 relative">
				  {title}
				  <span class="pulse-shockwave inline-block ml-2"></span>
				</p>
				<style>
				  .card:hover {
					transform: translateY(-10px);
					box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
				  }
				</style>
			  </div>
			))
		  }
		</div>
	  </div>
	</div>
  </section>
  
  <style>
  .card {
	background-color: #1F2937;
	border-radius: 1.5rem; /* 24px */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 24px;
	text-align: center;
	transition: transform 0.2s ease-in-out;
	border: 2px solid rgb(255, 255, 255); /* Add a red border */
  }
  
  .icon-container {
	background-color: #697880;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	overflow: hidden;
  }
  
  .icon-container img {
	object-fit: cover;
  }
  
  .icon i {
	font-size: 40px;
	color: #1a202c;
  }
  
  .title {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
  }
  
  .description {
	font-size: 16px;
	line-height: 1.5;
	color: #967171;
  }
  </style>
  