---
import { Icon } from 'astro-icon';

const items = [
  [
    {
      title: 'Highly Secured',
      description: 'Sychonix is highly secured with 24/7 monitoring, ensuring the integrity and safety of transactions and stakeholder assets.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Interchain-Explorer',
      description: 'Our fast and reliable Interchain Explorer facilitates seamless navigation and interaction between blockchain networks, enhancing accessibility and user experience.',
      icon: 'tabler:components',
    },
  ],
  [
    {
      title: 'Service Guide',
      description: 'We provide comprehensive setup documents and guides for our community, empowering users to navigate and utilize our platform effectively.',
      icon: 'tabler:book',
    },
    {
      title: 'Fully Comply',
      description: 'We fully comply with blockchain governance protocols, actively participating in chain governance, updates, and upgrades to ensure network stability and innovation.',
      icon: 'tabler:bulb',
    },
  ],
];
---

<section id="services" class="scroll-mt-16">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
    <div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
        What you need to know about <span class="whitespace-nowrap">Us</span>
      </h2>
    </div>
    <div class="services__container mx-auto grid grid-cols-1 md:grid-cols-2 gap-2">
      {items.map((subitems) => (
        <div class="space-y-5 sm:px-1">
          {subitems.map(({ title, description, icon }) => (
            <div class="card service p-4 bg-transparent border border-blue-500 rounded-lg transition-all duration-300 transform hover:scale-105">
              <div class="flex flex-col items-start text-left gap-2">
                <div class="service__icon w-10 h-10 bg-fuchsia-700 flex items-center justify-center rounded-full">
                  {icon && <Icon name={icon} class="w-6 h-6 text-white" />}
                </div>
                <h4 class="text-base font-semibold">{title}</h4>
                <p class="text-gray-300 text-sm">{description}</p>
              </div>
            </div>
          ))}
        </div>
      ))}
    </div>
  </div>
</section>


<style>
    #services {
    background-image: url('/bg-subtle-2-dark-1440w.jpg'); /* Ganti dengan path gambar yang sesuai */
    background-size: cover;
    background-position: bottom; /* Mengatur posisi gambar latar belakang ke bagian atas */
  }

.services__container {
  display: flex;
  flex-wrap: wrap; /* Membuat kartu membungkus ke baris berikutnya jika tidak ada ruang yang cukup */
  justify-content: center; /* Memposisikan kartu di tengah */
  gap: 0.5rem; /* Mengatur jarak antar kartu */
}

.card {
  background-color: rgba(90, 33, 182, 0);
  padding: 1rem;
  border: 1px solid rgb(13, 114, 255);
  border-radius: 0.75rem;
  border-color: rgb(13, 114, 255);
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
  /* Hapus margin-left dan margin-right */
}


  .card:hover {
    background-color: rgba(13, 114, 255, 0.219);
    border-color: rgb(13, 114, 255);
    transform: translateY(-0.5rem);
  }


  .service__icon {
    background-color: rgb(13, 114, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--color-black);
    transition: var(--transition);
  }
  
  .service:hover .service__icon {
    background-color: rgb(29 78 216);
    color: var(--color-white);
  }

  .service h4 {
    font-size: 1rem;
  }

  .service p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
  
   /* MEDIA QUERIES (tablets) */
   @media screen and (max-width: 1024px) {
    .services__container {
      gap: 1rem;
    }
  }

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .services__container {
    display: flex;
    flex-direction: column; /* Menumpuk kartu secara vertikal */
    align-items: center; /* Memastikan kartu berada di tengah */
    gap: 1.2rem; /* Menghapus gap default, menggunakan margin di .card */
  }

  .card.service p {
    font-size: 0.875rem; /* Sesuaikan ukuran font untuk ponsel */
  }
}

</style>
