---
import { Icon } from 'astro-icon';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { getHomePermalink } from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 flex-none w-full bg-white md:bg-dark/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between items-center">
			<a class="flex items-center" href={getHomePermalink()}>
				<Icon name="logo" class="w-12 h-12" />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-white-600 dark:text-slate-200 h-auto overflow-hidden md:overflow-visible"
			aria-label="Main navigation"
		>
    <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
      <li>
          <a
              class="font-medium text-gray-300 hover:text-white dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href="https://explorer.sychonix.com/"
          >Explorer</a>
      </li>
      <li>
          <a
              class="font-medium text-gray-300 hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href="#networks"
          >Networks</a>
      </li>
      <li>
          <a
              id="services-link"
              class="font-medium text-gray-300 hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out cursor-pointer"
          >Services</a>
      </li>
      <li class="md:hidden">
          <a
              class="font-bold text-gray-300 hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href="https://github.com/sychonix"
          >Github</a>
      </li>
  </ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<a
						href="https://github.com/sychonix"
            class="inline-block text-gray-300 dark:text-gray-400 hover:bg-dark-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 icon-hover-red"
						aria-label="Astrowind Github"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>

<style>
#header {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
  background-color: var(--color-background); /* Ganti dengan warna background yang sesuai */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none; /* Pastikan tidak ada border yang tidak diinginkan */
}

.navbar {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Mengubah warna latar belakang saat di-scroll */
}

html {
  scroll-behavior: smooth; /* Menambahkan scroll-behavior smooth */
}
</style>

<script type="module">
document.getElementById('services-link').addEventListener('click', () => {
  window.location.href = '/services'; // Navigate to the services page
});

document.querySelector('a[href="#networks"]').addEventListener('click', () => {
  window.location.href = '/#networks'; // Navigate to the home page and scroll to the network section
});

</script>
