---
import headerImg from '/public/header.png';
---

<section class="banner" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6 col-xl-7">
        <div class="text-container" id="text-container">
          <h1>Hi! I'm Sychonix</h1>
          <h4>is an Independent node validator.</h4>
          <br />
          <i>
            <q>
              Dedicated to running reliable and efficient blockchain nodes, contributing to the future of blockchain technology.
            </q>
          </i>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-5">
        <div class="img-container">
          <img src={headerImg} alt="Header Img" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .text-container {
    margin-top: -200px; /* Adjust this value as needed */
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .text-container.visible {
    opacity: 1;
  }
  .img-container img {
    width: 100%;
    height: auto;
  }
</style>

<script type="text/javascript" client:load>
  document.addEventListener('DOMContentLoaded', () => {
    const textContainer = document.getElementById('text-container');
    
    const handleScroll = () => {
      const scrollTop = window.scrollY;
      if (scrollTop > 200) {
        textContainer.classList.add('visible');
      } else {
        textContainer.classList.remove('visible');
      }
    };

    window.addEventListener('scroll', handleScroll);
    handleScroll(); // Initial check
  });
</script>
