
<section class="banner h-screen flex items-center pt-1 bg-cover bg-center bg-no-repeat" id="home">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row items-start justify-between">
      <!-- Teks Bagian Kiri -->
      <div class="w-full md:w-7/12 text-container" data-aos="fade-in">
        <h1 class="text-white text-5xl font-bold animate-text">Hi! I'm Sychonix</h1>
        <h4 class="text-white text-lg mt-4 animate-text">is an Independent node validator.</h4>
        <br />
        <i class="text-gray-300 animate-text">
          <q>As an independent validator, Sychonix is committed to maintaining the stability and security of blockchain networks through reliable and efficient node operations. We support the development of a trusted, transparent, and innovative blockchain ecosystem, with a focus on tangible contributions in maintaining network sustainability.</q>
        </i>
      </div>
      <!-- Gambar Bagian Kanan -->
      <div class="w-full md:w-5/12 mt-12 md:mt-0 transform -translate-y-10" data-aos="zoom-in">
        <img src="/header.png" alt="Sychonix Header" class="max-w-full h-auto animate-move" />
      </div>
    </div>
  </div>
</section>

<style>
/* Atur background gambar */
.banner {
  background-image: url('/bg-main-dark-1440w.jpg');
  background-size: cover; /* Pastikan gambar menutupi seluruh elemen */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Hindari gambar diulang */
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-21px); /* Adjust the value as needed */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-move {
  animation: moveUpDown 2s infinite;
}

.animate-text {
  animation: fadeIn 2s ease-in-out;
}
</style>
