/* src/styles/variables.css */

:root {
    --bg-primary-400: #000000;
    --bg-primary-100: #e5f3ff;
    --bg-dark-slate-900: #0000ff;
    --text-primary: #ffffff; /* Teks putih */
    --text-muted: #ff0000;
    --hover-bg-primary-400: #357ab7;
    --card-bg: rgb(255, 0, 0); /* Transparansi card */
  }
  
  /* Mode Gelap */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-primary-400: #000000;
      --bg-primary-100: #2a2a2e;
      --bg-dark-slate-50: #121212;
      --text-primary: #ff0000      ; /* Teks putih */
      --text-muted: #ff0000;
      --card-bg: rgb(153, 48, 48); /* Transparansi card untuk mode gelap */
    }
  }
  